/* -----------------
GENERAL STYLING
-------------------*/
body{
  background-color: rgba(252, 252, 252, 1);
  padding:0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
html {
  font-family: Gill Sans Extrabold, sans-serif;
}

.container{
  display: flex;
  flex-direction: column;
  max-width: 400px

}
@media screen and (min-width: 780px) {
    .container{
      max-width: 700px;
    }
}
@media screen and (min-width: 1110px) {
    .container{
      max-width: 1100px;
    }
}
/* -----------------
HEADER
-------------------*/
.header{
  margin-left: 12px;
  margin-bottom: 15px;
  justify-content: flex-start;
  max-width: 400px;
}
.header h4{
  color:rgba(91, 91, 91, 1);
  font-weight: 500;
  margin-left:0px;
}
.search{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .search input{


  width:300px;
  border-radius: 25px;
  border:1px solid rgba(91, 91, 91, .3);
  font-size: 16px;
  height: 25px;
  text-indent:32px;


}

.header .search input:focus{
  outline-width: 0px;
}

.header .search i{
  position: absolute;
  margin-left:10px;
  color:#aaa;
}

/* -----------------
CONTACT CONTAINER
-------------------*/
.contactContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
@media screen and (min-width: 780px) {
  .contactContainer{
    justify-content: space-between;
  }
}

/* -----------------
CARD
-------------------*/
.card{
  width:270px;
  height:100px;
  border: 1.5px solid #DFDFDF;
  border-radius: 5px;
  background:#FFFFFF;
  padding:20px;
  display:flex;
  flex-direction: row;
  align-items: center;
  margin:12px 12px;
  cursor:pointer;
  transform: scale(1);
  transition: all .1s ease-in-out;
}

.card:hover{
  transform: scale(1.05);
}

  .img{
    display: flex;
    width:80px;
    height: 80px;
    overflow: hidden;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
  }

    .img img{
      width:100%;
      height: 100%;
    }

  .nameEmailLocation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
  }

    .nameEmailLocation *{
      max-width: 150px;
      overflow:hidden;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .name{
      text-transform: capitalize;
    }

    .subtle{
      color:rgba(172, 176, 179, 1);
      font-size: 12px;
      text-transform:capitalize;
    }

    .nameEmailLocation div{
      margin-bottom: 5px;
    }

/* -----------------
MODAL
-------------------*/


.modal{
   /* Hidden by default */
  visibility: hidden;
  opacity:0; /* opacity to control animation */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transition: all .25s;
}

/*Animation for backdrop*/
.modal.fadeIn{
  visibility: visible;
  opacity:1;

}

.modal-content{
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border-radius: 5px;
  padding: 15px;
  border: 1px solid #888;
  width: 300px;
  height: 350px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  transition: all .25s;
}
/*Animation for modal*/
.modal.fadeIn .modal-content{
  transform: translateY(0);
}

  .close{
  position: relative;
  top:-15px;
  margin-left: auto;
  cursor: pointer;
  }

  .modal-content .container{
    padding:15px 0;
  }

  .modal-content .img{
    width:130px;
    height: 130px!important;

  }

  .modal-content .img img{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
  }

  .modal-content .modalNameEmailLocation{
    margin-left:0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    /*height: 80%;*/
  }

  .modal-content .img,.modal-content .name, .modal-content .email, .modal-content .phone,
  .modal-content .address{
    margin-bottom:10px;
  }


  .modal-content .nameEmailLocation{
    margin-left:0px;

  }

  .modal-content .divider{
    height: 1px;
    width:100%;
    background:rgba(218, 218, 218, 1);
  }

  .modal .address{
    max-width: 280px;
    overflow: hidden;
    /*line-height: 10px;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .modal-content .phoneAddressBirthday{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 25%;*/
  }
